body {
    background-image: url("/home/mamta/Desktop/Project/area_calculator/images.jpeg");
}

.rect{
    position: absolute;
    top: 23px;
    right: 35%;
    border: 3px solid black;
    height: 100px;
    width: 202px;
    background-color: #fbebd6;
}

.sqr{
    position: absolute;
    right: 202px;
    top: 23px;
    border:3px solid black;
    height: 100px;
    width: 100px;
    background-color: #fbebd6;
}

.cir{
    position: absolute;
    top: 23px;
    left: 29%;
}

.tri{
    position: absolute;
    top: 23px;
    left:7%;
    
}

.hr{
    border-bottom: 3px solid black;
}

.inp0{
        border: 3px solid black;
        background-color: #fbebd6;
        position: absolute;
        top: 37%;
        left: 7%;
        width: 66px;
        height: 28px;
}

.inp1{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 29%;
    left: 7%;
    width: 66px;
    height: 28px;
}


.inp2{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 37%;
    left: 7%;
    width: 66px;
    height: 28px;
}

.inp3{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 45%;
    left: 7%;
    width: 66px;
    height: 28px;
}

.inp4{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 55%;
    left: 2%;
    width: 15%;
    height: 28px;
}

.inp5{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 55%;
    left: 26%;
    width: 15%;
    height: 28px;
}

.inp6{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 37%;
    left: 31%;
    width: 66px;
    height: 28px;
}

.inp7{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 55%;
    right: 35%;
    width: 15%;
    height: 28px;
}

.inp8{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 28%;
    right: 41%;
    width: 66px;
    height: 28px;
}

.inp9{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 37%;
    right: 41%;
    width: 66px;
    height: 28px;
}

.inp10{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 28%;
    right: 17%;
    width: 66px;
    height: 28px;
}
/* .inp11{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 37%;
    right: 17%;
    width: 66px;
    height: 28px;
} */
.inp12{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 55%;
    right: 12%;
    width: 15%;
    height: 28px;
}

.inp{
    border: 3px solid black;
    background-color: #fbebd6;
    position: absolute;
    top: 37%;
    right: 41%;
    width: 66px;
    height: 28px;
}

.a{
    font-size: 34px;
    position: absolute;
    left: 2%;
    top: 28%;
}

.b{
    font-size: 34px;
    position: absolute;
    left: 2%;
    top: 37%;
}

.c{
    font-size: 34px;
    position: absolute;
    left: 2%;
    top: 45%;
}

.r{
    font-size: 34px;
    position: absolute;
    left: 26%;
    top: 37%;
}

.l{
    font-size: 34px;
    position: absolute;
    right:48%;
    top: 28%;
}

.br{

    font-size: 34px;
    position: absolute;
    right: 48%;
    top: 37%;
}

.s{
    font-size: 34px;
    position: absolute;
    right:23%;
    top: 28%;
}

#tri{
    position: absolute;
    top: 62%;
    left: 0%;
    border:3px solid black;
    width: 21%;
    height: 85px;
}

#cir{
    border:3px solid black;
    width: 21%;
    height: 85px;
    position: absolute;
    top: 62%;
    left:23% ;
}

#rec{
    border:3px solid black;
    width: 21%;
    height: 30px;
    position: absolute;
    top: 64%;
    left:46% ;
}

#sqr{
    border:3px solid black;
    width: 15%;
    height: 30px;
    position: absolute;
    top: 64%;
    left:72% ;
}