body {
    margin: 0px;
    padding: 0px;
    background: url('/home/mamta/Desktop/Project/Gym/weightlifting-2427461_1920.jpg');
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: auto;
    top: 4px;
    background-color: #000000;
}

.left img {
    width: 100px;
    /* filter:invert is used for changing color */
    filter: invert(100%);
    padding: 0px 0px;
    padding-top: 13px;
    padding-left: 35px;
}

.left div {
    text-align: center;
    background-color: #000000;
    color: white;
    /* position: sticky;
    top:3px; */
}

.mid {
    display: block;
    width: 65%;
    margin: 20px auto;
    /* border: 2px solid green; */

}

.right {
    position: absolute;
    right: 11px;
    top: 17px;
    /* right: 34px; */
    /* top: 22px; */
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    /* padding: 34px 23px; */
    margin: 23px;
}

.navbar li a:hover {
    color: #00f2ff;
    font-size: 25px;
    border-top: 2px solid #00f2ff;
    border-bottom: 2px solid #00f2ff;
}

.navbar li a.active {

    text-decoration: underline;
    color: #00f2ff;
}

.btn {
    margin: 0px 9px;
    background-color: #030b18;
    color: white;
    padding: 4px 14px;
    border: 4px solid #00ff08;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 15px;
}

.btn:hover {
    background-color: rgb(63, 59, 59);
} 


.left div {
    padding-left: 11px;
    padding-right: 11px;
    margin-top: -8px;
}

#container {
    border: 8px solid #3300ff;
    margin: 106p 80px;
    padding: 75px;
    border-radius: 28px;
    width: 33%;
    position: absolute;
    top: 177px;
    left: 32px;
    background-color: #151521;
    /* height: 12356px; */


    visibility: hidden;

}

.form-group input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 411px;
    padding: 7px;
    border: 5px solid #3300ff;
    border-radius: 47px;
    margin: 15px auto;
    font-size: 21px;

}


#container h1 {
    color: #85e8ff;
    position: absolute;
    right: 128px;
    top: 16px;
}

.bttn {
    margin: 0px 9px;
    background-color: #060e1b;
    color: white;
    padding: 4px 14px;
    border: 4px solid #3300fd;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 15px;
    position: absolute;
    bottom: 27px;
    right: 37px;
}

.bttn:hover {
    background-color: rgb(41, 35, 35);
}

.bttnn {
    margin: 0px 9px;
    background-color: #060e1b;
    color: white;
    padding: 4px 14px;
    border: 4px solid #3300fd;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 15px;
    position: absolute;
    bottom: 24px;
    left: 30px;
}

/* .bttnn:hover {
    background-color: rgb(41, 35, 35);
} */


#btnn:hover {
    color: #000000;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay:0s;
    border:4px solid rgb(0, 255, 255);
    border-width: 6px;
    font-size: 23px;

}

#btnn {
    margin: 0px 9px;
    background-color: #000000;
    color: white;
    padding: 10px 150px;
    border: 4px solid #00ff00;
    border-radius: 19px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 15px;
    position: absolute;
    bottom: 268px; 
    left: 411px;

}


#h1 {
    position: absolute;
    top: 163px;
    left: 249px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

#div {
    /* border: 4px solid cyan; */
    border-radius: 13px;
    margin: 26px;
    padding: 7px;
    position: absolute;
    top: 75px;
    right: 30px;
    font-size: 19px;
}

#time {
    font-weight: bold;
}

#ter {
    font-size: 22px;
    background-color: #101a33;
    position: absolute;
    left: 0px;
    padding: 3px 0px;
    bottom: -400px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





* {
    margin: 0;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}


.logo {
    width: 150px;
    cursor: pointer;
}

.side-bar {
    width: 60px;
    height: 143vh;
    background: linear-gradient(#04091c, #3a4a91);
    position: absolute;
    top: 84px;
    right: 0;
}

.menu {

    display: block;
    width: 55%;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img,
.useful-links img {
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 50%;
    text-align: center;
    transform: translateY(-50%);

}

.useful-links {
    position: absolute;
    left: 15px;
    bottom: 30px;
    width: 50%;
    text-align: center;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -400px;
}

.bubbles img {
    width: 50px;
    animation: bubbles 5s linear infinite;
}

@keyframes bubbles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 45px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
    width: 45px;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 45px;

}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
    width: 35px;
}

.bubbles img:nth-child(5) {
    animation-delay: 3.5s;
    width: 45px;


}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 45px;

}

.bubbles img:nth-child(7) {
    animation-delay: 8.5s;
    width: 45px;

}

.bubbles img:nth-child(8) {
    animation-delay: 7s;
    width: 25px;
}