body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060606;
    height: 100vh;
}

ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
    position: relative;
    width: 100px;
    text-align: center;
}

